footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    display: block;
    clear: both;
  }
  
  #contact-info {
    margin-bottom: 20px;
  }
  
  #contact-info p {
    margin: 0;
  }
  
  #contact-info a {
    color: #fff;
  }
  
  .social-media {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social-media a {
    display: inline-block;
    margin: 0 5px;
  }

  .social-media a img {
    height: 40px;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a:hover {
    opacity: 0.8;
  }
  
  p {
    margin: 0;
    font-size: 0.8em;
    text-align: center;
  }