h1 {
    font-size: 48px;
}

main {
    font-size: 24px;
}

.image {
    clear: both;
    height: 600px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background: url(images/fon.png) no-repeat center center;
    background-size:cover;
    color: white;
    font-size: 48px;
    line-height: 1.5;
}

.btn {
    padding: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 280px;
    height: 70px;
    background: rgb(207, 207, 207);
    animation: ch-color-2 0.3s forwards;
}

.btn:hover {
    animation: ch-color-1 0.3s forwards;
}

@keyframes ch-color-1 {
    from {
        background: rgb(207, 207, 207);
    }
    to {
        background-color: rgb(121, 121, 121);
    }
}

@keyframes ch-color-2 {
    from {
        background-color: rgb(121, 121, 121);
    }
    to {
        background: rgb(207, 207, 207);
    }
}

.btn a{
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    text-align: center;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

.block img {
    background-image: no-repeat center center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    object-fit: cover;
    border-radius: 5px;
    width: 70%;
    margin-block: 5%;
}

.block{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about-us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-us .right {
    display: flex;
    justify-content: center;
    float: right;
    width: 50%;
}

#about-us .left {
    margin-top: 20px;
    width: 50%;
    float: right;
}

/* #about-us .content, #about-us img {
    display: inline-block;
} */

.content {
    width: 70%;
}

#about-us .content{
    margin: auto;
    margin-right: 70px;
    line-height: 1.85;
    justify-content: center;
    vertical-align: middle;
}

.troubles {
    display: flex;
    width: 100%;
    clear: both;
    background: url(images/img2.jpg) no-repeat center center;
    background-size: cover;
}

.troubles .container {
    width: 60%;
    line-height: 1.85;
    padding: 20px 50px 80px 50px;
    background: #B1A18E;
    margin: auto;
    margin-block: 150px;
}

.work .left {
    float: left;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .right {
    float: left;
    width: 50%;
}

.work .content {
    line-height: 1.85;
    /* width: 600px; */
    margin: auto;
    margin-left: 70px;
}

.work li{
    padding-bottom: 10px;
}

#support {
    display: grid;
    justify-content: center;
    background-color: #707365;
    padding-bottom: 50px;
}

#support .content {
    margin: auto;
    line-height: 1.5;
    text-align: center;
    width: 70%;
}

#support .content p {
    padding-bottom: 20px;
}

#support .btn {
    margin-inline: 20px;
    padding: auto;
    height: 60px;
    width: 250px;
}

#support .btn a {
    font-size: 24px;
}

#support .btns {
    padding-top: 20px;
    display: flex;
    text-align: center;
    width: auto;
    margin: auto;
}

@media screen and (max-width: 1500px){
    main {
        font-size: 22px;
    }

    main h2 {
        font-size: 32px;
        margin: 0;
    }

    .content {
        width: 80%;
    }

    #about-us .content{
        margin-top: 0px;
        margin-right: 0;
    }

    .troubles .container{
        padding-bottom: 40px;
    }

    .block img {
        width: 80%;
    }

    .work .content{
        margin-left: 0;
    }

    .work li{
        padding-bottom: 10px;
    }

    #support .content {
        padding-top: 20px;
    }

    #support .btn a {
        font-size: 20;
    }
}

@media screen and (max-width: 1100px){
    html, body {
        overflow-x: auto;
    }

    main {
        font-size: 18px;
    }

    main h2 {
        font-size: 28px;
        margin: 0;
    }

    #about-us .content{
        margin-top: 0px;
        margin-right: 0;
    }

    .troubles .container{
        padding-bottom: 30px;
    }

    .block img {
        width: 80%;
    }

    .work .content{
        margin-left: 0;
    }

    #support .content {
        padding-top: 30px;
        font-size: 20px;
    }

    #support .btn {
        margin-inline: 10px;
        width: 200px;
        height: 50px;
    }

    #support .btn a{
        font-size: 20px;
    }
}