h1 {
    font-size: 48px;
}

.image {
    margin-top: 60px;
    height: 600px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background: url(images/fon.png) no-repeat center center;
    background-size:cover;
    color: white;
    font-size: 48px;
    line-height: 1.5;
}

.btn {
    padding: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 280px;
    height: 70px;
    background: rgb(207, 207, 207);
    animation: ch-color-2 0.5s forwards;
}

.btn:hover {
    animation: ch-color-1 0.5s forwards;
}

@keyframes ch-color-1 {
    from {
        background: rgb(207, 207, 207);
    }
    to {
        background-color: rgb(121, 121, 121);
    }
}

@keyframes ch-color-2 {
    from {
        background-color: rgb(121, 121, 121);
    }
    to {
        background: rgb(207, 207, 207);
    }
}

.btn a{
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    text-align: center;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

.about-us {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us .right {
    float: right;
    width: 50%;
}

.about-us .left {
    width: 50%;
    float: right;
}

.about-us .content{
    margin: auto;
    margin-right: 70px;
    line-height: 1.85;
    justify-content: center;
    vertical-align: middle;
    width: 600px;
    font-size: 28px;
}

.about-us .right img {
    margin: auto;
    margin-left: 70px;
    border-radius: 5px;
    width: 700px;
    margin-block: 5%;
}


.troubles {
    display: flex;
    width: 100%;
    clear: both;
    background: url(images/img2.jpg) no-repeat center center;
    background-size: cover;
}

.troubles .container {
    line-height: 1.85;
    width: 1000px;
    height: 400px;
    padding: 10px 50px 50px 50px;
    font-size: 28px;
    background: #B1A18E;
    margin: auto;
    margin-block: 50px;
}

.work {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.work .left {
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    align-content: center;
    float: left;
    width: 50%;
}

.work .right {
    float: left;
    width: 50%;
}

.work .left img {
    margin-block: 5%;
    margin: auto;
    margin-right: 70px;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    width: 700px;
}

.work .content {
    line-height: 1.85;
    font-size: 28px;
    width: 600px;
    margin: auto;
    margin-left: 70px;
}

.support {
    display: grid;
    justify-content: center;
    background-color: #707365;
    font-size: 28px;
    padding-bottom: 50px;
}

.support .content {
    line-height: 1.5;
    width: 1000px;
}

.support .content p {
    padding-bottom: 20px;
}

.support .btn {
    margin-inline: 20px;
    padding: auto;
    height: 60px;
    width: 250px;
}

.support .btns {
    padding-top: 20px;
    display: flex;
    text-align: center;
    width: auto;
    margin: auto;
}