html {
    scroll-behavior: 1;
    overflow-x: auto;
  }

body {
    background: #B1A18E;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: auto;
}

h2 {
    text-align: center;
    font-size: 36px;
}